/* Styles for Garden of Dreams */

:root {
    --dark-green: #1a3321;
    --chiffon: #faf0ca;
}

/* Bootstrap Reassignments */

.text-primary {
    color: var(--dark-green);
}

.navbar {
    background-color: var(--chiffon);
    border: none;
}

.navbar-collapse {
    flex-direction: row-reverse;
}

/* Hero Section */

.hero-section {
    margin-top: 12rem;
}

.hero-title {
    font-size: 100px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--chiffon);
    width: 100%;
}