/* Styles for Garden of Dreams */

:root {
    --dark-green: #1a3321;
    --chiffon: #fdf9e8;
    --gold: #f8ba6b;
    --emerald: #a0bd75;
}

/* Bootstrap Reassignments */
.text-primary,
.nav-link {
    color: whitesmoke!important;
}

.navbar {
    background-color: var(--emerald)!important;
    border: none;
}

/* Google Fonts */
.cinzel {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}
  
.cinzel-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}
  
.cinzel-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

.cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Background Image */
body {
    background-color: var(--chiffon);
    /* background-image: url(../images/Dungeon-Alchemist-Capture2.gif);
    max-width: 100%;
    height: auto;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.card.hero-section {
    height: 500px;
    width: 1200px;
    background-image: url(../images/Dungeon-Alchemist-Capture2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: -386px;
    background-position-y: -340px;
}

.center-me {
    display: flex;
    justify-content: center;
}

/* .hero-section {
    background-image: url(../images/Dungeon-Alchemist-Capture2.gif);
    background-position-x: center;
    background-repeat: no-repeat;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title-container {
    padding: 20px;
    border-radius: 30px;
    background: radial-gradient(ellipse, rgba(250, 240, 202, 0.55) 50%, rgba(250, 240, 202, 0) 90%);
    /* background: radial-gradient(circle, rgba(250, 240, 202, 0.2) 0%, rgba(250, 240, 202, 0.5) 50%, rgba(250, 240, 202, 0) 100%); */
    opacity: 0;
    animation: fadeIn 4s ease forwards;
}

.hero-title {
    font-size: 100px;
    margin: 0;
    padding-bottom: 33px;
    line-height: 0.7;
    letter-spacing: 6px;
    color: var(--dark-green);
}

.subtitle {
    color: var(--dark-green);
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--emerald);
    width: 100%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-content: center;
}