/* Styles for Card */

:root {
    --dark-green: #1a3321;
    --chiffon: #faf0ca;
    --gold: #f8ba6b;
}

.red-border {
    border: solid 1px red;
}

.orange-border {
    border: solid 1px orange;
}

.blue-border {
    border: solid 1px blue;
}

.plantCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plantCard {
    /* Image */
    background-image: url(../images/testFlower.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
    height: 500px;
    border-radius: 20px;
    align-content: flex-end;
}

.plantCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plantCard:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plantCardInfo {
    justify-content: start;
    border-radius: 20px;
    background-color: rgba(250, 240, 202, 0.7);
}

.card {
    width: 45rem;
}

.card-text-container {
    background-color: aqua;
    margin-top: 20rem;
    width: fit-content;
}

/* Styles Modal */

.modal-content {
    background-color: var(--chiffon);
}

.modal-header,
.modal-footer {
    border: none;
}

.google-button,
.cart-button,
.flower-button,
.next-button {
    padding: 10px;
}

.google-button:hover,
.cart-button:hover,
.flower-button:hover,
.next-button:hover {
    border: solid var(--dark-green) 1px;
}

.plant-photo {
    border-radius: 20px;
}

.plant-blurb {
    padding: 0;
    margin: 0;
}