/* Styles for Garden of Dreams */

:root {
    --dark-green: #1a3321;
    --chiffon: #faf0ca;
    --gold: #f8ba6b;
}

/* Fonts */

.charm {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.charm-bold {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

.nothing {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.jim-nightshade {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.shadows-into {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
  

/* Bootstrap Reassignments */
.text-primary {
    color: whitesmoke!important;
}

.navbar-toggler-icon {
    color: whitesmoke!important;
}

.navbar {
    background-color: var(--dark-green)!important;
    border: none;
}

/* Background Image */
body {
    background-color: var(--chiffon);
    max-width: 100%;
    height: auto;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
}

/* Hero Section */
.hero-section {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.title-container {
    padding: 20px;
    border-radius: 30px;
    background: radial-gradient(ellipse, rgba(250, 240, 202, 0.55) 50%, rgba(250, 240, 202, 0) 90%);
    /* background: radial-gradient(circle, rgba(250, 240, 202, 0.2) 0%, rgba(250, 240, 202, 0.5) 50%, rgba(250, 240, 202, 0) 100%); */
}

.hero-title {
    font-size: 100px;
    margin: 0;
    padding-bottom: 33px;
    line-height: 0.7;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--dark-green);
    width: 100%;
}

/* State Section */

.state-section {
    background-color: var(--chiffon);
    height: 500px;
    width: 100%;
    margin-top: 56px;
    display: flex;
}

.state-flower {
    background-image: url(../images/stateFlowers/OKFlower.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 33%;
}

.state-name {
    color: var(--dark-green);
    width: 66%;
}

.results-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px!important;
    background-color: whitesmoke;
}