/* Styles for Garden of Dreams */

:root {
    --dark-green: #1a3321;
    --chiffon: #faf0ca;
    --gold: #f8ba6b;
}

/* Bootstrap Reassignments */
.text-primary {
    color: var(--dark-green)!important;
}

.navbar {
    background-color: var(--chiffon)!important;
    border: none;
}

/* Background Image */
body {
    background-color: var(--chiffon);
    max-width: 100%;
    height: auto;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hero Section */
.hero-section {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.title-container {
    padding: 20px;
    border-radius: 30px;
    background: radial-gradient(ellipse, rgba(250, 240, 202, 0.55) 50%, rgba(250, 240, 202, 0) 90%);
    /* background: radial-gradient(circle, rgba(250, 240, 202, 0.2) 0%, rgba(250, 240, 202, 0.5) 50%, rgba(250, 240, 202, 0) 100%); */
}

.hero-title {
    font-size: 100px;
    margin: 0;
    padding-bottom: 33px;
    line-height: 0.7;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--chiffon);
    width: 100%;
}

/* Garden */
.test-border {
    border: solid 3px red;
}

.state-cart {

}

.state-flowers {

}

img, svg {
    vertical-align: inherit;
}

.state-name {
    font-size: 75px;
}

.state-flower {
    height: 75px;
    width: 75px;
}

/* .to-the-left {
    margin-left: -49px;
} */

.to-the-right {
    margin-right: -40px;
}